<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/fontawesome/css/all.min.css">
    <title>选课系统 | 登录</title>
</head>
<body>
<div class="container">
    <div class="card" style="margin-top: 10%; margin-left: 25%; margin-right: 25%;">
        <div class="card-header text-center">登录</div>
        {% if error %}
        <!-- error information -->
        <div class="alert alert-danger alert-dismissible fade show text-center" role="alert">
            <i class="fa fa-exclamation-triangle"></i>&nbsp;{{ error }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endif %}
        <div class="card-body">
            <form method="POST">
                {% csrf_token %}
                <!-- account -->
                <div class="form-group form-row">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <i class="fa fa-user"></i>
                            </div>
                        </div>
                        <input type="text" class="form-control" name="account" autofocus required>
                    </div>
                </div>
                <!-- password -->
                <div class="form-group form-row">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <i class="fa fa-lock"></i>
                            </div>
                        </div>
                        <input type="password" class="form-control" name="password" required>
                    </div>
                </div>
                <!-- role -->
                <div class="from-group form-row">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <i class="fa fa-user-friends"></i>
                            </div>
                        </div>
                        <select id="role" class="custom-select" name="role" onchange="setDefaultRole(this.value);"
                                required>
                            <option value="student" selected>学生</option>
                            <option value="teacher">教师</option>
                            <option value="admin">管理员</option>
                        </select>
                    </div>
                </div>
                <!-- submit -->
                <div class="text-center" style="margin-top: 3%; margin-left: 20%; margin-right: 20%;">
                    <button type="submit" class="btn btn-block btn-primary">登录</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="/static/jquery/jquery.slim.min.js"></script>
<script src="/static/bootstrap/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript">
function getDefaultRole()
{
    var name = "role=";
    var ca = document.cookie.split(';');
    for(var i=0; i<ca.length; i++)
    {
        var c = ca[i].trim();
        if (c.indexOf(name) == 0) return c.substring(name.length, c.length);
    }
    return "";
}

function setDefaultRole(value)
{
    var d = new Date();
    d.setTime(d.getTime() + (7 * 24 * 60 * 60 * 1000));
    var expires = "expires=" + d.toGMTString();
    document.cookie = "role=" + value + "; " + expires;
}

role = getDefaultRole();
if (role)
{
    document.getElementById("role").value = role;
}
</script>
</body>
</html>
