<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    {% include 'include/bootstrap/css.html' %}
    {% include 'include/fontawesome/css.html' %}
    <title>选课系统 | 学生</title>
</head>
<body>
{% include 'student/include/navbar.html' %}
<div class="container-fluid mt-5">
    <!-- message -->
    {% if message %}
        <div class="alert alert-danger alert-dismissible fade show text-center" role="alert">
            <i class="fa fa-exclamation-triangle"></i>&nbsp;{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}

    <!-- search -->
    <div class="row">
        <div class="col-12 text-center">
            <form class="d-inline form-inline" method="GET">
                <input class="form-control form-control-sm" name="keyword" type="search">
                <button class="btn btn-outline-success btn-sm" type="submit">搜索</button>
            </form>
        </div>
    </div>

    <!-- course list -->
    <table class="table table-striped table-hover mx-auto mt-3" style="max-width: 75%;">
        <thead>
        <tr class="row">
            <th class="col-1" scope="col">#</th>
            <th class="col-2" scope="col">课程代码</th>
            <th class="col-4" scope="col">课程名称</th>
            <th class="col-2" scope="col">授课老师</th>
            <th class="col-3" scope="col">操作</th>
        </tr>
        </thead>
        <tbody>
        {% if course_list %}
            {% for item in course_list %}
                <tr class="row" id="courseRow{{ forloop.counter }}">
                    <td class="col-1">{{ forloop.counter }}</td>
                    <td class="col-2">{{ item.id }}</td>
                    <td class="col-4">{{ item.name }}</td>
                    {% if item.teacher %}
                        <td class="col-2">{{ item.teacher.name }}</td>
                    {% else %}
                        <td class="col-2 text-danger">无</td>
                    {% endif %}

                    <!-- description -->
                    {% if item.description %}
                        <td class="d-none">{{ item.description }}</td>
                    {% else %}
                        <td class="d-none"></td>
                    {% endif %}
                    <td class="col-3">
                        <button type="button" class="btn btn-sm btn-secondary"
                                onclick="courseDetail('courseRow{{ forloop.counter }}');">
                            详情
                        </button>
                        <button type="button" class="btn btn-sm btn-primary"
                                onclick="selectCourse('{{ item.id }}');">
                            选课
                        </button>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr class="text-center">
                <td>
                    查询结果为空！
                    <i class="fa fa-exclamation-circle text-warning"></i>
                </td>
            </tr>
        {% endif %}
        </tbody>
    </table>

    <!-- course detail modal -->
    <div class="modal fade" id="courseDetailModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">课程详情</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="courseDetailId" class="col-form-label">课程代码</label>
                        <input type="text" class="form-control" id="courseDetailId" readonly>
                    </div>
                    <div class="form-group">
                        <label for="courseDetailName" class="col-form-label">课程名称</label>
                        <input type="text" class="form-control" id="courseDetailName" readonly>
                    </div>
                    <div class="form-group">
                        <label for="courseDetailTeacher" class="col-form-label">授课教师</label>
                        <input type="text" class="form-control" id="courseDetailTeacher" readonly>
                    </div>
                    <div class="form-group">
                        <label for="courseDetailDescription" class="col-form-label">课程简介</label>
                        <textarea type="text" class="form-control"
                                  id="courseDetailDescription" readonly></textarea>
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-primary" id="courseDetailSelectButton">选课</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- select form -->
    <form method="POST" class="d-none" id="selectCourseForm">
        {% csrf_token %}
        <input type="hidden" name="action" value="select">
        <input type="hidden" id="selectCourseFormCourseId" name="courseId" value="">
    </form>
</div>
{% include 'include/bootstrap/js.html' %}
<script>
    function selectCourse(id) {
        document.getElementById('selectCourseFormCourseId').value = id;
        document.getElementById('selectCourseForm').submit();
    }

    function courseDetail(id) {
        let row = document.getElementById(id);
        document.getElementById('courseDetailId').value = row.children[1].innerHTML;
        document.getElementById('courseDetailName').value = row.children[2].innerHTML;
        document.getElementById('courseDetailTeacher').value = row.children[3].innerHTML;
        document.getElementById('courseDetailDescription').value = row.children[4].innerHTML;
        document.getElementById('courseDetailSelectButton').onclick = row.children[5].children[1].onclick;
        $('#courseDetailModal').modal();
    }
</script>
</body>
</html>
