<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    {% include 'include/bootstrap/css.html' %}
    {% include 'include/fontawesome/css.html' %}
    <title>选课系统 | 管理员</title>
</head>
<body>
{% include 'admin/include/navbar.html' %}
<div class="container-fluid mt-5">
    <!-- information -->
    {% if information %}
        <div class="alert alert-danger alert-dismissible fade show text-center" role="alert">
            <i class="fa fa-exclamation-triangle"></i>&nbsp;{{ information }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}

    <!-- search -->
    <div class="row">
        <div class="col-12 text-center">
            <form class="d-inline form-inline" method="GET">
                <input class="form-control form-control-sm" name="keyword" type="search">
                <button class="btn btn-outline-success btn-sm" type="submit">搜索</button>
            </form>
            <button class="btn btn-sm btn-success ml-5" data-toggle="modal" data-target="#addStudentModal">
                <i class="fa fa-plus-circle"></i>&nbsp;添加
            </button>
        </div>
    </div>

    <!-- student list -->
    <table class="table table-striped table-hover mx-auto" style="margin-top: 1%; max-width: 75%;">
        <thead>
        <tr class="row">
            <th class="col-1" scope="col">#</th>
            <th class="col-3" scope="col">学号</th>
            <th class="col-3" scope="col">姓名</th>
            <th class="col-3" scope="col">学院</th>
            <th class="col-2" scope="col">操作</th>
        </tr>
        </thead>
        <tbody>
        {% if student_list %}
            {% for item in student_list %}
                <tr class="row" id="studentRow{{ forloop.counter }}">
                    <td class="col-1">{{ forloop.counter }}</td>
                    <td class="col-3">{{ item.id }}</td>
                    <td class="col-3">{{ item.name }}</td>
                    <td class="col-3">
                        <span class="d-none">{{ item.school.id }}</span>
                        {{ item.school.name }}
                    </td>
                    <td class="col-2">
                        <button class="btn btn-sm btn-warning mr-2" data-toggle="modal"
                                onclick="editStudent('studentRow{{ forloop.counter }}');"
                                type="button" data-target="#editStudentModal">
                            <i class="fa fa-edit fa-fw"></i>
                        </button>
                        <button type="button" class="btn btn-sm btn-danger" onclick="deleteStudent('{{ item.id }}');">
                            <i class="fa fa-trash-alt fa-fw"></i>
                        </button>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr class="text-center">
                <td>
                    查询结果为空！
                    <i class="fa fa-exclamation-circle text-warning"></i>
                </td>
            </tr>
        {% endif %}
        </tbody>
    </table>

    <!-- add student modal -->
    <div class="modal fade" id="addStudentModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">添加学生</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="action" value="add">
                        <div class="form-group">
                            <label for="newStudentId" class="col-form-label">学号</label>
                            <input type="text" name="studentId" class="form-control" id="newStudentId" required>
                        </div>
                        <div class="form-group">
                            <label for="newStudentName" class="col-form-label">姓名</label>
                            <input type="text" name="studentName" class="form-control" id="newStudentName" required>
                        </div>
                        <div class="form-group">
                            <label for="newStudentSchool" class="col-form-label">学院</label>
                            <select class="custom-select" name="studentSchoolId" id="newStudentSchool" required>
                                {% for item in school_list %}
                                    <option value="{{ item.id }}">{{ item.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                            <button type="submit" class="btn btn-primary">添加</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- edit student modal -->
    <div class="modal fade" id="editStudentModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">修改学生</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="action" value="edit">
                        <div class="form-group">
                            <label for="editStudentId" class="col-form-label">学号</label>
                            <input type="text" name="studentId" class="form-control" id="editStudentId" readonly>
                        </div>
                        <div class="form-group">
                            <label for="editStudentName" class="col-form-label">姓名</label>
                            <input type="text" name="studentName" class="form-control" id="editStudentName" required>
                        </div>
                        <div class="form-group">
                            <label for="editStudentSchoolId" class="col-form-label">学院</label>
                            <select class="custom-select" name="studentSchoolId" id="editStudentSchoolId" required>
                                {% for item in school_list %}
                                    <option value="{{ item.id }}">{{ item.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                            <button type="submit" class="btn btn-primary">修改</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- delete student -->
    <form method="POST" class="d-none" id="deleteStudentForm">
        {% csrf_token %}
        <input type="hidden" name="action" value="delete">
        <input type="hidden" id="deleteStudentFormStudentId" name="studentId" value="">
    </form>
</div>
<script type="text/javascript">
    function deleteStudent(studentId) {
        if (confirm('确定要删除此学生吗？')) {
            let deleteStudentForm = document.getElementById('deleteStudentForm');
            let deleteStudentFormStudentId = document.getElementById('deleteStudentFormStudentId');
            deleteStudentFormStudentId.value = studentId;
            deleteStudentForm.submit();
        }
    }

    function editStudent(rowId) {
        let row = document.getElementById(rowId);
        let student_id = row.children[1];
        let student_name = row.children[2];
        let student_school_id = row.children[3].children[0];
        document.getElementById('editStudentId').value = student_id.innerHTML;
        document.getElementById('editStudentName').value = student_name.innerHTML;
        document.getElementById('editStudentSchoolId').value = student_school_id.innerHTML;
    }
</script>
{% include 'include/bootstrap/js.html' %}
</body>
</html>
